
<%=  @game.current_turn.name %> attacked <%= @game.opponent.name %>! <%=@game.opponent.name %> - <%=@game.opponent.hp%>HP

<form action="/confirm2" method="post">
<input type="submit" value="Return">
</form>
